*{
    margin: 0;
    padding: 0;
}
h1{
    background-color:rgb(255, 255, 255);
    text-align: center;
}
.topo{
    padding: 50px;
}
img {
    width: 35%;
    position: relative;
    left: 35%;
}
h2{
    text-align: center;
}
table{
    width: 1300px;
}
footer{
    padding: 50px;

}
.olha{
    position: relative;
    margin-top: -25%;
    left: 120%;
}
p{
    margin: 0%;
    padding: 0%;
    list-style: none
}